$size-1000: 1050px;
$size-600: 640px;
$size-400: 420px;

body {
  background: #DDDDDD url(../images/bg.svg) no-repeat center -56px;
  background-size: 4096px 1152px;
  color: $color-black;
  margin: 0;

  @media (max-width: $size-1000) {
    background-position: center -35px;
    background-size: 2560px 720px;
  }

  @media (max-width: $size-400) {
    background-position: center -28px;
    background-size: 2048px 576px;
  }
}

header {
  position: relative;
  height: 256px;
  overflow: auto;
  text-align: center;

  @media (max-width: $size-1000) {
    height: 160px;
  }

  @media (max-width: $size-400) {
    height: 128px;
  }
}

main {
  box-sizing: border-box;
  max-width: 960px;
  min-height: 960px;
  margin: 0 auto 100px;
  padding: 80px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);

  @mixin mainMediaQuery($screen-width, $margin-side, $margin-bottom, $padding) {
    @media (max-width: $screen-width) {
      width: calc(100% - ($margin-side * 2));
      margin: 0 $margin-side $margin-bottom;
      padding: $padding;
    }
  }

  @include mainMediaQuery($size-1000, 30px, 80px, 60px);
  @include mainMediaQuery($size-600, 20px, 60px, 40px);
  @include mainMediaQuery($size-400, 10px, 60px, 20px);
}

.monogram {
  position: relative;
  margin: 0;
  top: 59px;

  @media (max-width: $size-1000) {
    top: 35px;
  }

  @media (max-width: $size-400) {
    top: 26px;
  }

  &__image {
    width: 200px;

    @media (max-width: $size-1000) {
      width: 130px;
    }

    @media (max-width: $size-400) {
      width: 110px;
    }
  }
}
