body {
  background: $color-dark-grey url(../images/bg.svg) no-repeat center -70px;
  background-size: 5120px 1440px;
  color: $color-black;
  margin: 0;
}

header {
  position: relative;
  height: 320px;
  overflow: auto;
  text-align: center;

  > h1 {
    position: relative;
    margin: 0;
    top: 90px;
  }
}

main {
  box-sizing: border-box;
  width: 960px;
  min-height: 960px;
  margin: 0 auto 100px;
  padding: 80px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
}

.monogram {
  width: 200px;
}
